.MainDrawer {
    position: fixed;
    right: 0;
    top: 0;
    width: 550px;
    height: 100vh;
    box-shadow: 3px 4px 20px lightgray;
    background-color: white;
    transition: right 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.25s,box-shadow 0.3s 0.25s,-webkit-box-shadow 0.3s 0.25s;
    padding-top: 50px;

}

.MainDrawer .forgotPassword {
color: #007BFF;
}

.closed{
    right: -550px;
   
}
.MainDrawer .head {
    padding: 20px;
}

.MainDrawer .tab-btn {
    background-color: transparent;
    border: none;
    flex: 1;
    text-align: center;
    border-bottom: 1px solid lightgray;
    color: gray;
    padding-bottom: 14px;
}

.MainDrawer .selected-tab {
    border-bottom: 1px solid blue;
    color: black;
    font-weight: 500;
}

.MainDrawer .divider{
    position: relative;
    height: 20px;
    margin: 20px  0px;
    
}
.MainDrawer .divider .line{
    height: 1px;
    position: absolute;
    background-color: lightgray;
    width: 100%; margin-top: 12 px;
    /* margin-top: 50%÷≥; */
}

.MainDrawer .text{
    position: absolute;
    text-align: center;
    background-color: white;
    top: 50%;
    left: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);

}
.MainDrawer .close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16px;
    background-color: gainsboro;
    top: 10px;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}


.Options .singleOptions{
    border-radius: 12px;
    border: 2px solid #FFE302;
    margin: 10px 0px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.Options .singleOptions p{
  
    margin-left: 5%;
    
}